body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:10px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.portafolio{
    width: 1080px;
    margin: 0 auto;
    padding: 50px;
}


.portafolio li{
    display:inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #8d8d8d83;
    border-radius: 10px;
    box-shadow: 4px 4px 4px  #8d8d8d83;
}

.portafolio li:hover{
    border-color: #44c3eb;
}

.portafolio li:active{
    border-color: #088c19;
}

.portafolio h2{
    font-size: 30px;
    font-weight: bold;
}

.portafolio li:hover h2{
    font-size: 33px;
}

.portafolio-descripcion{
    font-size: 18px;
}

.portafolio-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}

.portafolio i{
	font-size: 112px;
}

.portafolio i:hover{
    color: #44c3eb;
}

.portafolio i:active{
    color: #44c3eb;
}

footer{
    text-align: center;
    background: url(../imagenes/bg.jpg);
    padding:40px;
}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin:20px;
}
/*
form{
    margin: 40px 0;
    
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin:20px 0;
}
*/

/*------------------------Contacto-----------------------------*/

.contacto, .contacta{
  padding: 4em 0;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form input{
  margin-top: 15px;
  border: 1px solid #61616156;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  padding: 15px;
}

.form fieldset label input{
  width: 35px;
  height: 20px;
}

.form fieldset{
  padding: 2em 0;
}

.form textarea{
  width: 250px;
  margin-top: 15px;
  border: 1px solid #3030303056;
  border-radius: 20px;
  padding: 15px;
}
.form .input_button{
  background-color: #3f89b4;
  color: white;
  width: 150px;
  transition: all 0.3s;
}
.form .input_button:hover{
  transform: scale(1.1);
  transition: all 0.3s;
  background-color: #8fe5ff;
  box-shadow: 0px 0px 10px 0 #3f3f3f9c;
}

 .contacto, h2, h3, h4 {
  padding: 10px 15px 5px 15px;
  text-align: center;
}

form label, form legend{
  display: block;
  font-size: 16px;
  margin: 0 0 10px;
}

  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  




  ---------------------------------------------------------------------
  ---------------------------------------------------------------------*/

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color:white;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Aquí inicia el CSS para nuestra home*/
.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto; 
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float:left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888)
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background: #888888;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
}

.items:before{
    content:"★"
}

.items:first-child{
    font-weight: bold;
}

.imagen-diferenciales{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #000000;
}

.imagen-diferenciales:hover{
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 1em auto;
}



/*--------------------------------------------------------------
# RESPONSIVE
--------------------------------------------------------------*/


@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }

    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video , .form, .portafolio li, .contacto, .formulario{
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }

    .portafolio{
      display:flex;
      flex-direction: column;
      
      width: 100%;
    }
    .portafolio li{
      margin: 0 0 2em;
    }

}

/*--------------------------------------------------------------
# Boton Arriba
--------------------------------------------------------------*/
#arriba{
    width: 50px;
    height:  50px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #00BFFF;
    position: fixed;
    left: 85%;
    bottom: 50px;
    cursor: pointer;
    transform: all .3s ease;
    transform: scale(0);
  }
  #arriba:hover{
    opacity: .70;
    transform: scale(1.1);
  }
  .bi-arrow-up-short{
    font-size: 30px;
      color: #ffffff;
  }
  @media(min-width: 768px){
    #arriba{
      margin-left: 7%;
    }
  }
  


  
/*--------------------------------------------------------------
# Poratfolio
--------------------------------------------------------------*/
.work-box {
    margin-bottom: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
  }
  
  .work-box:hover img {
    transform: scale(1.3);
  }
  
  .work-img {
    display: block;
    overflow: hidden;
  }
  
  .work-img img {
    transition: all 1s;
  }
  
  .work-content {
    padding: 2rem 3% 1rem 4%;
  }
  
  .work-content .w-more {
    color: #4e4e4e;
    font-size: 0.8rem;
  }
  
  .work-content .w-more .w-ctegory {
    color: #0078ff;
  }
  
  .work-content .w-like {
    font-size: 2.5rem;
    color: #0078ff;
    float: right;
  }
  
  .work-content .w-like a {
    color: #0078ff;
  }
  
  .work-content .w-like .num-like {
    font-size: 0.7rem;
  }
  
  .w-title {
    font-size: 1.2rem;
  }
  

  /*--------------------------------------------------------------
  # Portafolio Detalles
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 40px;
  }
  
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #0078ff;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #0078ff;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(78, 78, 78, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }


.work-box,
.service-box,
 {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}


